@model CayGiong.Models.Account
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*account*@
@section header{
    Insert account
}

@section TopMenu{
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
          action="/Admin/Product/Search" method="get">
        <div class="input-group">
            <input type="text" name="textSearch" id="textSearch" class="form-control bg-light border-0 small" placeholder="Search for..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
}
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "user" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, null, new { @calss = "alert alert-danger" })
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.userName, new { @class = "form-control form-control-user", placeholder = "User Name" })
                                @Html.ValidationMessageFor(x => x.userName, "", new { @class = "text-danger" })
                            </div>
                          
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.PasswordFor(x => x.password, new { @calss = "form-control form-control-user", placeholder = "Password" })
                                    @*<input type="password" class="form-control form-control-user"
                                        id="exampleInputPassword" placeholder="Password">*@
                                </div>
                                <div class="col-sm-6">
                                    @Html.Password("passComfirmm", new { @class = "form-control form-control-user", placeholder = "Repeat Password" })
                                    @*<input type="password" class="form-control form-control-user"
                                        id="exampleRepeatPassword" placeholder="Repeat Password">*@
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-user btn-block" value="Create" />
                            @*<a href="login.html" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </a>*@
                            @*<hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>*@
                        }

                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="login.html">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="/Assets/Admin/vendor/jquery/jquery.min.js"></script>
<script src="/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/Assets/Admin/js/sb-admin-2.min.js"></script>

