@model CayGiong.Models.Category
@{
    Layout = null;
}

@using (Html.BeginForm("Create", "CateChild", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h3 class="modal-title ml-5">Create Category</h3>
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id_Cate)
    <input type="hidden" name="Group_id" id="Group_id" value="" />
    <div class="modal-body">
        @Html.LabelFor(model => model.name_Cate, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.name_Cate, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.name_Cate)

        @Html.LabelFor(model => model.url_Cate, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.url_Cate, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.url_Cate)


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
}




