@model PagedList.IPagedList<CayGiong.Models.Product>
@using PagedList.Mvc;
@using CayGiong.Dao;
@{
    DaoCategory dao = new DaoCategory();
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>List Product</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/Index">Shop</a></li>
                    <li class="breadcrumb-item active">Product </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sort by </span>
                                <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                                    <option data-display="Select">Nothing</option>
                                    <option value="1">Popularity</option>
                                    <option value="2">High Price → High Price</option>
                                    <option value="3">Low Price → High Price</option>
                                    <option value="4">Best Selling</option>
                                </select>
                            </div>
                            <p>Showing all 4 results</p>
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row ">
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Sale</p>
                                                    </div>
                                                    <img src="~/Images/Product/@item.img_Prodcut" class="img-fluid img-product" alt="@item.name_product">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="/Product/DetailProduct?idPro=@item.id_Product" data-toggle="tooltip" data-placement="right" title="View Detail"><i class="fas fa-eye"></i></a></li>

                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                        </ul>
                                                        <button class="cart addCart" dataPro="@item.id_Product">Add To Cart</button>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <a href="/Product/DetailProduct?idPro=@item.id_Product"><h4>@item.name_product</h4> </a>
                                                    <h5> @item.price</h5>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <!-- Thêm mã phân trang -->
                                    <br />
                                    @if (Model.PageCount >= 2)
                                    {
                                        <div>
                                            Trang @(Model.PageCount< Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                                        </div>

                                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                                    }
                                </div>

                                <!-- Kết thúc -->
                            </div>


                            <div role="tabpanel" class="tab-pane fade" id="list-view">
                                @foreach (var item in Model)
                                {
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="new">New</p>
                                                        </div>
                                                        <img src="~/Images/Product/@item.img_Prodcut" style=" height: 200px !important;" class="img-fluid imgmian" alt="@item.name_product">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="/Home/DetailProduct?idPro=@item.id_Product" data-toggle="tooltip" data-placement="right" title="View Detail"><i class="fas fa-eye"></i></a></li>

                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4>@item.name_product</h4>
                                                    <h5> <del>$ 60.00</del> @item.price VND</h5>
                                                    <p>
                                                        @item.title
                                                    </p>
                                                    <a class="btn hvr-hover" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (Model.PageCount >= 2)
                                {
                                    <div>
                                        Trang @(Model.PageCount< Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                                    </div>

                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*category*@
            @RenderPage("~/Views/Product/_menuRight.cshtml")

        </div>
    </div>
</div>
<!-- End Shop Page -->

