@model CayGiong.ViewModel.ProductViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    View Detail
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.group_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.group_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_cate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_cate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_cate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_cate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        @if (Model.descript != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.descript)
            </dt>

            <dd>
                @Html.Raw(Model.descript)
            </dd>
        }



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


